/*---------------header--------------*/
header{
    height: 10%;
    width: 100%;
}
/*--------------logo----------------*/
.logotot{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 11%;
    margin-right: 4%;
    margin-top: -0.3%;
}
.intlogo{
    position: absolute;
    top: 9.2%;
    left: 11%;
}
/*---------------------navigation-----------------*/
nav{
    display: flex;
    margin-top: -0.45%;
}
.navitem{
    font: 200%;
    font-weight: bold;
    width: 13.65%;
    background-color: rgb(165, 37, 37);
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 3%;
    color: aliceblue;
    text-decoration: none;
}
/*-------------------cols and rows---------------*/
.menu{
    display: flex;
    flex-direction: column;
    margin-left: 11%;
    margin-right: 16%;
    margin-top: 1.5%;
}
.row{
    display: flex;
    flex-direction: row;
}
/*------------------lorem ipsum paragraphes-----------*/
.p2{
    font-size: 150%;
    font-weight: bold;
    color: brown;
}
.p3{
    color: brown;
    text-decoration: none;
}
.column{
    margin-right: 3%;
}
.row3{
    text-align: center;
    padding-left: 45%;
}
/*----------------------footer paragraphe---------------*/
.rmq{
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.navitem:hover{
    background-image: url(img/rings.png);
    background-size: 100% 100%;
}